body, html{
    height: 100%;
    margin: 0;
    color: #666;
    font-family: Lato;
    font-size: 16px;
}
.kep1{
    background-image: url('img/1.jpg');
    min-height: 100%;
}
.kep2{
    background-image: url('img/2.jpg');
    min-height: 100%;
}
.kep3{
    background-image: url('img/3.jpg');
    min-height: 100%;
}
.kep1, .kep2, .kep3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
section{
    text-align: center;
    padding: 50px;
    min-height: 400px;
}
.kepszoveg{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 32px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.kepszoveg span{
    background-color: #111;
    color: #fff;
    opacity: 0.6;
    padding: 20px;
}
